* {
  font-family: "Roboto", sans-serif;
  font-size: medium;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #1e2023;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculatorContainer {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 110px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  gap: 10px;
  border: 1px solid #424242;
  padding: 10px;
  border-radius: 10px;
  background: rgb(27, 33, 60);
  background: linear-gradient(
    140deg,
    rgba(27, 33, 60, 1) 0%,
    rgba(30, 32, 38, 1) 100%
  );
}

button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  background-color: #383c49;
  border: none;
  border-radius: 8px;
  color: white;
}
.buttonColor {
  background-color: #2f313d;
}

.span2 {
  grid-column: span 2;
}

.output {
  grid-column: 1/-1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  color: white;
  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
}

.previousOutput {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.285);
}

.currentOutput {
  font-size: 3.5em;
}
